@FONT-FACE{FONT-FAMILY:A;SRC:LOCAL(VERDANA);UNICODE-RANGE:U+20}

@FONT-FACE{FONT-FAMILY:B;SRC:LOCAL(YU GOTHIC MEDIUM)}

@FONT-FACE{FONT-FAMILY:B;FONT-WEIGHT:BOLD;SRC:LOCAL(YU GOTHIC BOLD)}

*,::placeholder{ALL:UNSET;DISPLAY:REVERT;LINE-HEIGHT:CALC(1EM + 8PX);FONT-WEIGHT:REVERT}

::placeholder{COLOR:#CCC}

:ROOT{DISPLAY:INLINE-BLOCK;FONT-FAMILY:A,ARIAL,B,HIRAGINO KAKU GOTHIC PRON;FONT-KERNING:NONE;OVERFLOW-WRAP:BREAK-WORD}

BODY{BACKGROUND:#000;COLOR:#FFF;DISPLAY:INLINE-BLOCK;PADDING:8;WIDTH:CALC(100% - 16PX)}

BUTTON,P,TEXTAREA{MARGIN:8}

BUTTON,TEXTAREA{PADDING:12 16;WIDTH:CALC(100% - 48PX)}

BUTTON{BACKGROUND:#FFF;COLOR:INITIAL;CURSOR:POINTER;FONT-WEIGHT:BOLD;TEXT-ALIGN:CENTER}

P{DISPLAY:INLINE-BLOCK;WIDTH:CALC(100% - 16PX)}

P:AFTER,P:BEFORE{CONTENT:"";DISPLAY:BLOCK}

P:AFTER{MARGIN-BOTTOM:-4}

P:BEFORE{MARGIN-TOP:-4}

TEXTAREA{BACKGROUND:#FFF2;WHITE-SPACE:PRE-WRAP}