@FONT-FACE{FONT-FAMILY:A;SRC:LOCAL(VERDANA);UNICODE-RANGE:U+20}

@FONT-FACE{FONT-FAMILY:B;SRC:LOCAL(YU GOTHIC MEDIUM)}

@FONT-FACE{FONT-FAMILY:B;FONT-WEIGHT:BOLD;SRC:LOCAL(YU GOTHIC BOLD)}

*,::placeholder{ALL:UNSET;DISPLAY:REVERT;FONT-WEIGHT:REVERT;LINE-HEIGHT:CALC(1EM + 8PX)}

::placeholder{COLOR:#CCC}

:ROOT{DISPLAY:INLINE-BLOCK;FONT-FAMILY:A,ARIAL,B,HIRAGINO KAKU GOTHIC PRON;FONT-KERNING:NONE;OVERFLOW-WRAP:BREAK-WORD}

BODY{BACKGROUND:#000;COLOR:#FFF;DISPLAY:INLINE-BLOCK;PADDING:8;WIDTH:CALC(100% - 16PX)}

BUTTON,P,TEXTAREA{MARGIN:8}

BUTTON,TEXTAREA{PADDING:12 16;WIDTH:CALC(100% - 48PX)}

BUTTON{BACKGROUND:#FFF;COLOR:INITIAL;CURSOR:POINTER;FONT-WEIGHT:BOLD;TEXT-ALIGN:CENTER}

P{DISPLAY:INLINE-BLOCK;WIDTH:CALC(100% - 16PX)}

P:AFTER,P:BEFORE{CONTENT:"";DISPLAY:BLOCK}

P:AFTER{MARGIN-BOTTOM:-4}

P:BEFORE{MARGIN-TOP:-4}

TEXTAREA{BACKGROUND:#FFF2;WHITE-SPACE:PRE-WRAP}

/*
@font-face{
	font-family:baseline;
	src:local(verdana);
	unicode-range:u+20;
}
@font-face{
	font-family:yu gothic;
	src:local(yu gothic medium);
}
@font-face{
	font-family:yu gothic;
	font-weight:bold;
	src:local(yu gothic bold);
}
*,::placeholder{
	all:unset;
	display:revert;
	font-weight:revert;
	line-height:calc(1em + 8px);
}
::placeholder{
	color:#ccc;
}
:root{
	font-family:baseline,arial,yu gothic;
	font-kerning:none;
	overflow-wrap:break-word;
}
body{
	background:#000;
	color:#fff;
	padding:8px;
}
button,p,textarea{
	margin:8px;
}
button,textarea{
	padding:12px 16px;
	width:calc(100% - 48px);
}
button{
	background:#fff;
	color:initial;
	cursor:pointer;
	font-weight:bold;
	text-align:center;
}
p{
	display:inline-block;
	width:calc(100% - 16px);
}
p::after,p::before{
	content:"";
	display:block;
}
p::after{
	margin-bottom:-4px;
}
p::before{
	margin-top:-4px;
}
textarea{
	background:#fff2;
	height:calc(8em + 64px);
	white-space:pre-wrap;
}
