@font-face{
	font-family:baseline;
	src:local(verdana);
	unicode-range:u+20;
}
@font-face{
	font-family:yu gothic;
	src:local(yu gothic medium);
}
@font-face{
	font-family:yu gothic;
	font-weight:bold;
	src:local(yu gothic bold);
}
*,::file-selector-button,::placeholder{
	all:unset;
	display:revert;
	line-height:calc(1em + 8px);
	transition:.25s background-color;
}
::placeholder{
	color:#bbb;
}
body{
	background:#000;
	color:#fff;
	font-family:baseline,arial,yu gothic;
	font-kerning:none;
	margin:16px;
	overflow-wrap:break-word;
}
button,p,input,textarea{
	margin-bottom:16px;
	margin-top:16px;
}
button,input,textarea{
	display:block;
	padding:12px 16px;
	width:calc(100% - 32px);
}
button,input[type="file"]{
	color:initial;
	font-weight:bold;
	text-align:center;
}
:is(button,input[type="file"]):disabled{
	background:#fff6;
}
:is(button,input[type="file"]):not(:disabled){
	background:#fff;
	cursor:pointer;
}
:is(button,input[type="file"]):hover:not(:disabled){
	background:#ccc;
}
input:not([type="file"]),textarea{
	background:#333;
	white-space:pre-wrap;
}
input[type="file"]{
	font-size:0;
}
::file-selector-button{
	font-size:initial;
}
p::after,p::before{
	content:"";
	display:block;
}
p::after{
	margin-top:-4px;
}
p::before{
	margin-bottom:-4px;
}