@font-face{
	font-family:baseline;
	src:local(verdana);
	unicode-range:u+20;
}
@font-face{
	font-family:yu gothic;
	src:local(yu gothic medium);
}
@font-face{
	font-family:yu gothic;
	font-weight:bold;
	src:local(yu gothic bold);
}
*,::placeholder{
	all:unset;
	display:revert;
	line-height:calc(1em + 8px);
}
::placeholder{
	color:#ccc;
}
:root{
	font-family:baseline,arial,yu gothic;
	font-kerning:none;
	overflow-wrap:break-word;
}
body{
	background:#000;
	color:#fff;
	margin:16px;
}
button,p,textarea{
	margin-bottom:16px;
	margin-top:16px;
}
button,textarea{
	display:block;
	padding:12px 16px;
	width:calc(100% - 32px);
}
button{
	color:initial;
	font-weight:bold;
	text-align:center;
}
button:disabled{
	background:#fff6;
}
button:not(:disabled){
	background:#fff;
	cursor:pointer;
}
p::after,p::before{
	content:"";
	display:block;
}
p::after{
	margin-top:-4px;
}
p::before{
	margin-bottom:-4px;
}
textarea{
	background:#fff3;
	white-space:pre-wrap;
}